appdirs
CacheControl
certifi
cffi
chardet
colorama
contextlib2
cryptography
decorator
distlib
distro
future
html5lib
idna
ipaddr
lockfile
msgpack
packaging
pep517
progress
pycparser
pyparsing
python-telegram-bot
pytoml
requests
retrying
six
tornado
urllib3
webencodings
